# System Config
BOT_NAME="your-telegram-bot-name"
SYSTEM_TIME_ZONE="your-timezone"
TELEGRAM_BOT_TOKEN="your-telegram-bot-token"

# App Config
ODOO_USERNAME="your-odoo-username"
ODOO_PASSWORD="your-odoo-password"
ODOO_URL="your-odoo-url"
ODD_DB="your-odoo-db-name"
IS_AUTO_ATTENDANCE_ENABLED="your-auto-check-out-enabled"
AUTO_CHECK_IN_TIME="your-auto-check-in-time"
AUTO_CHECK_OUT_TIME="your-auto-check-out-time"
HOME_COORDINATES_LAT="your-home-coordinates"
HOME_COORDINATES_LONG="your-home-coordinates"
