anyio==4.13.0
APScheduler==3.11.2
beautifulsoup4==4.14.3
certifi==2026.4.22
charset-normalizer==3.4.7
dotenv==0.9.9
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
isort==8.0.1
python-dotenv==1.2.2
python-telegram-bot==22.7
requests==2.33.1
soupsieve==2.8.3
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.7.0
